<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
  <f:layout name="Default" />

  <f:section name="content">
    <h1><f:translate key="register" /></h1>

    <f:flashMessages />

    <f:render partial="FormErrors" />

    <f:form action="create" enctype="multipart/form-data" name="newClimber" object="{newClimber}">
    <f:render partial="Climber/FormFields" arguments="{_all}"/>
    <f:form.submit value="{f:translate(key: 'create_new')}" />
    </f:form>
  </f:section>
</html>
