<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-pinkpoint" >
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.location" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.country" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.latitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.longitude" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.image" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_pinkpoint_domain_model_sector.sectorcanvas" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>