<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<f:section name="content">
		<h1>Listing for Ascent</h1>

		<f:flashMessages />

		<table  class="tx_pinkpoint" >
			<tr>
				<th><f:translate key="tx_pinkpoint_domain_model_ascent.ascent_date" /></th>
				<th><f:translate key="tx_pinkpoint_domain_model_ascent.ascent_art" /></th>
				<th><f:translate key="tx_pinkpoint_domain_model_ascent.public_visible" /></th>
				<th><f:translate key="tx_pinkpoint_domain_model_ascent.comment" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{ascents}" as="ascent">
				<tr>
					<td><f:link.action action="show" arguments="{ascent : ascent}"> {ascent.ascentDate -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{ascent : ascent}"> {ascent.ascentArt}</f:link.action></td>
					<td><f:link.action action="show" arguments="{ascent : ascent}"> {ascent.publicVisible}</f:link.action></td>
					<td><f:link.action action="show" arguments="{ascent : ascent}"> {ascent.comment}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{ascent : ascent}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{ascent : ascent}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Ascent</f:link.action>
	</f:section>
</html>
